@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F0EC;
  --foreground: #2F3030;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Walter Turncoat', 'Yomogi', Arial;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
