@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8c5c0;
  --foreground: #2F3030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2F3030;
    --foreground: #e8c5c0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Walter Turncoat', 'Yomogi', Arial;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
